@import "_variables";

#container-div {
  margin: 4rem auto;
  position: relative;
  width: 400px;
  background-color: transparent;
  label {
    display: inline-block;
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    width: 50%;
    height: 100%;
    z-index: 20;
  }
}
